In [1]:
#Logical operators OR and AND give output as boolean and works on whole numbers 
#bitwise and logical 
#bitwise
a= 10
b=20
print(a|b)

30

In [2]:
print(a or b)

10

In [3]:
print(a and b)
print(a&b)

20
0

In [4]:
a+b>30

False

In [ ]:
a+b>30 | a

In [10]:
True or False

True

In [11]:
True | False

True

In [12]:
True and False

False

In [13]:
True & False

False

In [15]:
True is False

False

In [17]:
True is True

True

In [18]:
a = 10
a is a

True

In [20]:
not a

False

In [22]:
a = 10 
b = 20
print (a or b)

10

In [23]:
a | b

30

In [24]:
c = 30 
d = 40 
print(c or d)

30

In [26]:
print(c | d)

62

In [29]:
a = 10; b = 20
print(a and b)
print(a & b)

20
0

In [25]:
e = 257 
f = 257
print(e is f)

False

In [26]:
e == f

True

In [ ]:
#never use "str" that is keyword : as a variable name. Otherwise need to start the kernel.

In [32]:
#Typecasting 

x = str(1)
print(type(x))

<class 'str'>

In [33]:
#string formatting

first_name = "Nashrah"
last_name = "Rahman"
print("My first name is {} and last name is {}" .format(first_name, last_name))

My first name is Nashrah and last name is Rahman

In [34]:
print("My first name is {first} and last name is {last}" .format(last = last_name, first = first_name))

My first name is Nashrah and last name is Rahman

In [ ]:
#Python supports Variable Dynamic Typing

In [35]:
#Strong typing 
"Nashrah"+ 5

TypeError: can only concatenate str (not "int") to str

In [38]:
"Nashrah " +  str(5)

'Nashrah 5'

In [ ]:
#string is immutable

In [ ]:
#print() has ddefault parameter end = \n
print()

In [1]:
list1 = [1,2,3,4,"Nashrah"]

In [2]:
list1.append("Rahman")

In [3]:
list1

[1, 2, 3, 4, 'Nashrah', 'Rahman']

In [4]:
list1.append([7,4])

In [6]:
list1.extend([10,11])

In [7]:
list1

[1, 2, 3, 4, 'Nashrah', 'Rahman', [7, 4], 10, 11]

In [8]:
#logical and bitwise operations

In [9]:
a = 10 
b = 20
print(a and b)

20

In [12]:
a < 5 and b <10

False

In [13]:
print (a or b)

10

In [14]:
# for else
lst = [1,2,3,4,5,6,7,9,10]
sumodd = 0
sumeven = 0
for i in lst: 
    if i%2==0:
        sumeven = sumeven +i
        if sumeven<20:
            break            
    else: 
        sumodd = sumodd +i
        if sumodd <20: 
            break
else: 
    print("else block")

In [20]:
# for else 

for i in range(6):
    print(i)
else:
    print("Else statement")

0
1
2
3
4
5
Else statement

In [19]:
for i in range(6):
    if i == 4:
        print("Break statement")
        break
else: 
    print("Else statement")

Break statement

In [23]:
# for else
lst = [1,2,3,4,5]
sumodd = 0
sumeven = 0
for i in lst: 
    if i%2==0:
        sumeven = sumeven +i
        if sumeven>20:
            break            
    else: 
        sumodd = sumodd +i
        if sumodd>20: 
            break
else: 
    print("else block")

else block